
<h1>All Topics</h1>
<br>
<%- include('../partials/error.ejs') %>
<br>
<div class="sideNav">
<% topics.forEach(topic => {%>
    <div style="margin: 3%;">
<a class="topic" href="/topics/<%=topic.name%>"><%= topic.name %> <%= topic.questionCount %></a>
    </div>
<% }); %>
</div>
<% topics.forEach(topic => {%>
    <div style="margin: 3%;">
<a class="topic" href="/topics/<%=topic.name%>"><%= topic.name %> <%= topic.questionCount %></a>
    </div>
<% }); %>